In [ ]:
import pandas as pd

dict={
    'X':['78','85','96','80','86'],
    'Y':['84','94','89','83','86'],
    'Z':['86','97','96','72','83']
}

x=pd.DataFrame(dict)
print(x)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [ ]:
import pandas as pd

exam_data={
    'Name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
    'Score':['12.5','9','16.5','np.nan','9','20','14.5','np.nan','8','19'],
    'Attempts':[1,3, 2, 3, 2, 3, 1, 1, 2, 1],
    'Qualify':['yes','no','yes','no','no','yes','yes','no','no','yes'],
    'Labels':['a','b','c','d','e','f','g','h','i','j']
}

x=pd.DataFrame(exam_data)
print(x)
#print(x.Attempts>2)
print(x[x['Attempts'] > 2])

        Name   Score  Attempts Qualify Labels
0  Anastasia    12.5         1     yes      a
1       Dima       9         3      no      b
2  Katherine    16.5         2     yes      c
3      James  np.nan         3      no      d
4      Emily       9         2      no      e
5    Michael      20         3     yes      f
6    Matthew    14.5         1     yes      g
7      Laura  np.nan         1      no      h
8      Kevin       8         2      no      i
9      Jonas      19         1     yes      j
        Name   Score  Attempts Qualify Labels
1       Dima       9         3      no      b
2  Katherine    16.5         2     yes      c
3      James  np.nan         3      no      d
4      Emily       9         2      no      e
5    Michael      20         3     yes      f
8      Kevin       8         2      no      i

In [ ]:
import numpy as np
import pandas as pd

exam_data={
    'Name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
    'Score':['12.5','9','16.5','np.nan','9','20','14.5','np.nan','8','19'],
    'Attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'Qualify':['yes','no','yes','no','no','yes','yes','no','no','yes'],
    'Labels':['a','b','c','d','e','f','g','h','i','j']
}

x=pd.DataFrame(exam_data)
print(x)

print(x.info())
print(x.describe())

print(x.index.size)
print(x.axes[1])
print(len(x.columns))

        Name   Score  Attempts Qualify Labels
0  Anastasia    12.5         1     yes      a
1       Dima       9         3      no      b
2  Katherine    16.5         2     yes      c
3      James  np.nan         3      no      d
4      Emily       9         2      no      e
5    Michael      20         3     yes      f
6    Matthew    14.5         1     yes      g
7      Laura  np.nan         1      no      h
8      Kevin       8         2      no      i
9      Jonas      19         1     yes      j
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      10 non-null     object
 1   Score     10 non-null     object
 2   Attempts  10 non-null     int64
 3   Qualify   10 non-null     object
 4   Labels    10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes
None
        Attempts
count  10.000000
mean    1.900000
std     0.875595
min     1.000000
25%     1.000000
50%     2.000000
75%     2.750000
max     3.000000
10
Index(['Name', 'Score', 'Attempts', 'Qualify', 'Labels'], dtype='object')
5

In [ ]:
import pandas as pd

exam_data={
    'Name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
    'Score':['12.5','9','16.5','np.nan','9','20','14.5','np.nan','8','19'],
    'Attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'Qualify':['yes','no','yes','no','no','yes','yes','no','no','yes'],
    'Labels':['a','b','c','d','e','f','g','h','i','j']
}

x=pd.DataFrame(exam_data)

print(x.head(3))

        Name Score  Attempts Qualify Labels
0  Anastasia  12.5         1     yes      a
1       Dima     9         3      no      b
2  Katherine  16.5         2     yes      c

In [ ]:
import pandas as pd

exam_data={
    'Name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
    'Score':['12.5','9','16.5','np.nan','9','20','14.5','np.nan','8','19'],
    'Attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'Qualify':['yes','no','yes','no','no','yes','yes','no','no','yes'],
    'Labels':['a','b','c','d','e','f','g','h','i','j']
}

x=pd.DataFrame(exam_data)
print(x[['Name','Score']])

        Name   Score
0  Anastasia    12.5
1       Dima       9
2  Katherine    16.5
3      James  np.nan
4      Emily       9
5    Michael      20
6    Matthew    14.5
7      Laura  np.nan
8      Kevin       8
9      Jonas      19

In [ ]:
import pandas as pd

exam_data={
    'Name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
    'Score':['12.5','9','16.5','np.nan','9','20','14.5','np.nan','8','19'],
    'Attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'Qualify':['yes','no','yes','no','no','yes','yes','no','no','yes'],
    'Labels':['a','b','c','d','e','f','g','h','i','j']
}

x=pd.DataFrame(exam_data)
print(x[['Name','Score']])

        Name   Score
0  Anastasia    12.5
1       Dima       9
2  Katherine    16.5
3      James  np.nan
4      Emily       9
5    Michael      20
6    Matthew    14.5
7      Laura  np.nan
8      Kevin       8
9      Jonas      19

In [ ]:
import pandas as pd

exam_data={
    'Name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
    'Score':['12.5','9','16.5','np.nan','9','20','14.5','np.nan','8','19'],
    'Attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'Qualify':['yes','no','yes','no','no','yes','yes','no','no','yes'],
    'Labels':['a','b','c','d','e','f','g','h','i','j']
}

x=pd.DataFrame(exam_data)
print(x[['Name','Score','Attempts','Qualify']])

        Name   Score  Attempts Qualify
0  Anastasia    12.5         1     yes
1       Dima       9         3      no
2  Katherine    16.5         2     yes
3      James  np.nan         3      no
4      Emily       9         2      no
5    Michael      20         3     yes
6    Matthew    14.5         1     yes
7      Laura  np.nan         1      no
8      Kevin       8         2      no
9      Jonas      19         1     yes

In [ ]:
import pandas as pd

exam_data={
    'Name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
    'Score':['12.5','9','16.5','np.nan','9','20','14.5','np.nan','8','19'],
    'Attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'Qualify':['yes','no','yes','no','no','yes','yes','no','no','yes'],
    'Labels':['a','b','c','d','e','f','g','h','i','j']
}

x=pd.DataFrame(exam_data)
print(x[['Score'][5:15]])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]